$color-black: #000000;
$color-white: #ffffff;

$color-grey: #B1C3C7;
$color-grey--light: #ECF0F1;
$color-grey--lighter: #F9FAFA;
$color-grey--dark: #7F8B8C;

$color-danger: #FB6758;
$color-succes: #2BCD71;

$color-text: $color-grey--dark;

$color-background: $color-grey--lighter;

$badge-border-color: #DAE2E4;