.field {
  display: block;
  width: 100%;
  padding: $spacing-xs;

  color: $color-black;

  background-color: $color-white;
  border: 1px solid $color-grey--light;
  border-radius: 4px;

  outline: none;
}

.field--with-errors {
  border-color: $color-danger;
}

.select-field--with-errors {
  .Select-control {
    border-color: $color-danger !important; // React-select has very specific selectors
  }
}